annotated-types==0.7.0
anyio==4.12.1
black==26.1.0
click==8.3.1
fastapi==0.115.0
h11==0.16.0
idna==3.11
Jinja2==3.1.4
MarkupSafe==3.0.3
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.2
psutil==7.2.2
pydantic==2.12.5
pydantic_core==2.41.5
python-dotenv==1.0.1
python-multipart==0.0.9
pytokens==0.4.1
starlette==0.38.6
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.30.6
